<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.wbu.dorm.mapper.DormBuildingMapper" >
    <select id="findAll" resultType="dormBuilding">
        select * from dorm_building
    </select>
    <insert id="insert" parameterType="dormBuilding">
        insert into dorm_building values (#{id},#{type},#{floors},#{location},#{builtuptime},#{capacity},0)
    </insert>
    <select id="findById" parameterType="int" resultType="dormBuilding">
        select * from dorm_building where id = #{id}
    </select>
    <resultMap id="dbResultMap" type="dormBuilding">
        <id column="id1" property="id"/>
        <result column="type" property="type"/>
        <result column="floors" property="floors"/>
        <result column="location" property="location"/>
        <result column="builtuptime" property="builtuptime"/>
        <result column="capacity1" property="capacity"/>
        <collection property="dormList" ofType="dorm">
            <id column="id" property="id"/>
            <result column="db_id" property="db_id"/>
            <result column="dorm_number" property="dorm_number"/>
            <result column="dorm_gender" property="dorm_gender"/>
            <result column="capacity" property="capacity"/>
            <result column="occupy" property="occupy"/>
            <result column="hid" property="hid"/>
            <result column="fee_id" property="fee_id"/>
        </collection>
    </resultMap>
    <select id="findEmptyDorm" parameterType="int" resultMap="dbResultMap">
        SELECT *
        FROM dorm d,dorm_building db
        WHERE d.db_id = db.id AND db.type = #{type} AND d.occupy &lt; d.capacity;
    </select>
    <update id="updateOccupy" parameterType="dormExt">
        update dorm_building set occupy = #{number} where id = #{db_id}
    </update>
</mapper>