<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.wbu.dorm.mapper.HygieneMapper" >
    <select id="findByDormId" parameterType="int" resultType="hygiene">
        select * from hygiene where dorm_id = #{dorm_id}
    </select>
    <insert id="insert" parameterType="hygiene">
        insert into hygiene values (null ,#{dorm_id},#{description},#{comments},#{createTime})
    </insert>
</mapper>